Package: emt.paisseon.lunartime
Name: LunarTime
Version: 1.2
Architecture: iphoneos-arm
Description: Lunar phase in your status bar
Maintainer: Paisseon
Author: Paisseon
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
