Package: emt.paisseon.lunartime
Name: LunarTime
Version: 1.1
Architecture: iphoneos-arm
Description: Show lunar phase in the status bar
Maintainer: Paisseon
Author: Paisseon
Section: Tweaks
Depends: mobilesubstrate
